body {
    background: #fefefe;
    color: #333;
}

.pharagraph {
    color:1481BA
}

.mainHeader {
    font-weight: bold;
    color: #0CAADC;
}

.sectionHeader {
    color: rgb(247, 66, 66)
}

.diaryHeader {
    color: rgb(73, 42, 64);
    font-style: italic;
    font-weight: 800;
}

.dailyHeader {
    color: #424547;
    font-weight: 700;
}

.nav {
    color: black;
    font-weight: bold;
    background-color: gray;
}

.footer {
    color: honeydew;
}

.link {
    color: #0CAADC;
}