html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: rgb(133, 65, 127);
    background: linear-gradient(346deg, rgba(133, 65, 127, 1) 0%, rgba(23, 145, 95, 1) 30%, rgba(0, 255, 252, 1) 100%);
    position: relative;
}

.main__header, .diary__header {
    color: #0471A6;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.main__header {
    margin-bottom: 48px;
}

.footer {
    display: block;
    margin-left: 10px;
    position: absolute;
    bottom: -50px;
    left: 0;
}

.footer__top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #70A9A1;
}

.about {
    overflow: hidden;
}

.about__header {
    color: #0CAADC;
    margin-bottom: 40px;
}

.about__img {
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 10px 10px 20px 0;
}

.about__pharagraph {
    margin-bottom: 10px;
}

.daily {
    margin-bottom: 45px;
}

.daily__header {
    color: #0CAADC;
}

.daily__link {
    color: #70A9A1;
    text-decoration: none;
}

.daily__pharagraph {
    margin-bottom: 10px;
}

.site__header {
    color: black;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
}

.navigation__item {}

.navigation__link {
    color: #70A9A1;
    text-decoration: none;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

.article {}

.article__footer {
    margin-top: 20px;
    margin-bottom: 400px;
}

.article__header {
    color: #0471A6;
    margin-top: 75px;
}

.article__img {
    width: 100%;
    max-width: 600px;
}

.article__pharagraph {
    margin-bottom: 10px;
}