html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: #ebedef;
    background-image: linear-gradient(318deg, #ebedef 0%, #c3f8fc 100%);
    position: relative;
    min-height: 100vh;
}

.main__header, .diary__header {
    color: #0471A6;
}

.main {
    width: 100%;
    max-width: 900px;
    margin: 32px auto;
}

.main__header {
    margin-bottom: 48px;
    text-align: center;
    grid-area: header;
}

.footer {
    display: block;
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.footer__top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #70A9A1;
}

.about {
    overflow: hidden;
    grid-area: about;
}

.about__header {
    color: #0CAADC;
    margin-bottom: 40px;
}

.about__img {
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 10px 10px 20px 0;
}

.about__pharagraph {
    margin-bottom: 10px;
}

.grid__diary {
    grid-area: diary;
}

.daily {
    margin-bottom: 45px;
    width: 100%;
}

.daily__header {
    color: #0CAADC;
}

.daily__link {
    color: #70A9A1;
    text-decoration: none;
}

.daily__pharagraph {
    margin-bottom: 10px;
}

.site__header {
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
}

.navigation__item {
    margin: 0 16px;
}

.navigation__link {
    color: #70A9A1;
    text-decoration: none;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100vh;
}

.article {
    margin-top: 50px;
    padding-top: 20px;
}

.article__footer {
    margin-top: 20px;
    margin-bottom: 400px;
}

.article__header {
    color: #0471A6;
    margin-top: 75px;
    margin-bottom: 40px;
}

.article__img {
    width: 100%;
    max-width: 600px;
}

.article__pharagraph {
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-areas: "header header header" "about diary diary";
    grid-template-columns: 200px 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
}

.grid__daily {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (max-width: 945px) {
    .grid {
        display: grid;
        grid-template-areas: "header header header" "about about about" "diary diary diary";
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    @media (max-width: 680px) {
        .grid__daily {
            display: grid;
            grid-template-columns: 1fr;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
        }